{% extends 'base.jinja'%}

{% block content %}
<h1>Countries</h1>

<div id="continent_flex">
{% for continent in input_countries %}

<div class="country_list">

    <h2>{{ continent['continent_name'] }}</h2>

    {% for country in continent['countries'] %}
        <p> <a class="black_anchor" href="/countries/{{country.id}}">{{ country.name }}</a> </p>
        <ul>
        {% for location in country['locations'] %}
            <li><a class="black_anchor" href="/locations/{{location.id}}">{{location.name}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}

</div>

{% endfor %}
</div> 

<hr>

<form action="/countries" method="post">
    <label for="name">Add a Country:</label>
    <input class="text_input" type="text" name="name" placeholder="Insert name" id="name" required>

    <select name="continent_id" id="continent-select" required>
        <option value="">--Please choose a continent--</option>
    
        {% for continent in continents%}
            <option value="{{continent.id}}">{{continent.name}}</option>
        {% endfor %}
    
    </select>

    <input class="button" type="submit" value="Add" >
</form>

{% endblock %}