{% extends 'base.jinja'%}

{% block content %}
<h1>Countries</h1>

<p>Here are the countries:</p>

{% for country in input_countries %}

<p> <a href="/countries/{{country.id}}">{{ country.name }}</a> </p>

{% endfor %}

<form action="/countries" method="post">
<label for="name">Add a Country:</label>
    <input type="text" value="Insert name" name="name" id="name">
    <input type="submit" value="Add" >
</form>

{% endblock %}