{% extends 'base.jinja'%}

{% block content %}
<div class="heading_flex">
    <h1>Countries</h1>

    <input class="button" id="addButton" value="Add a country" type="button"/>

</div>

<div id="continent_flex">
{% for continent in input_countries %}

<div class="country_list">

    <h2>{{ continent['continent_name'] }}</h2>

    {% for country in continent['countries'] %}
        <p> <a class="black_anchor" href="/countries/{{country.id}}">{{ country.name }}</a> </p>
        <ul>
        {% for location in country['locations'] %}
            <li><a class="black_anchor" href="/locations/{{location.id}}">{{location.name}}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}

</div>

{% endfor %}
</div> 

<dialog class="addDialog" id="addDialog">
    <form action="/countries" method="post">
    
    <label for="name">Name:</label>
    <input class="text_input" type="text" name="name" placeholder="Insert name" id="name" required>

    <label for="continent-select">Continent:</label>
    <select name="continent_id" id="continent-select" required>
        {% for continent in continents%}
            <option value="{{continent.id}}">{{continent.name}}</option>
        {% endfor %}
    </select>

    <input class="button" type="submit" value="Cancel" id="addCancel" formmethod="dialog">
    <input class="button" type="submit" value="Add" >
</form>
</dialog>

<script src="../static/js/add_button_script.js"></script>

{% endblock %}