{% extends 'base.jinja'%}

{% block content %}
<h1>{{input_country.name}}</h1>

<p><a class="black_anchor" href="https://en.wikipedia.org/wiki/{{input_country.name}}" title="Learn more about {{input_country.name}} at Wikipedia">Learn more</a> </p>

<h2>Locations:</h2>

<div class="country_locations_flex_box">

    {% for location in input_locations %}

        {# <p> <a class="black_anchor" href="/locations/{{location.id}}">{{ location.name }}</a> </p> #}


        <div class="location_box" style="background-position: {{location.rand_bg_pos_x}}% {{location.rand_bg_pos_y}}%";>
            <div class="overlay"></div>
            <h3 class="z-index"> <a class="white_anchor" href="/locations/{{location.id}}">{{ location.name }}</a></h3>

            <div class="visit_wishlist_flex_box">
                
                <aside class="visited" class="z-index"> 
                    <p class="z-index">Visited?</p>
                    {% if location['has_visited'] == True%}
                        <p class="tick"> &#x2713 </p>
                    {% else %}
                        <p class="cross"> &#x2718 </p>
                    {% endif %}
                </aside>

                <aside class="wishlist" >
                    <p class="z-index">On wishlist?</p>
                    {% if location['on_wishlist']%}
                        <p class="tick"> &#x2713</p>
                    {% else %}
                        <p class="cross"> &#x2718 </p>
                    {% endif %}
                </aside>
            </div>
        </div>

    {% endfor %}

            <div class="location_box">
            {# <div class="overlay"></div> #}
            <h3 class="z-index" class="white_anchor"> None</h3>
            <p>please add a location via edit button below</p>


            <form action="/countries/{{input_country.id}}/add_location" method="post">
                <label for="name">Location name:</label>
                <input type="text" placeholder="Insert name" name="name" id="name">
                <select name="country_id" id="country-select">
                    <option value="{{input_country.id}}">{{input_country.name}}</option>
                </select>
                <input class="button" type="submit" value="Add" >
            </form>
        </div>

</div>

<hr>

<form action="/countries/{{input_country.id}}/edit" method="get">
    <label for="edit">Edit Country:</label>
    <input class="button" type="submit" id="edit" value="Edit" >
</form>

{# CAN ONLY DELETE IF NO LOCATIONS EXIST #}
{%if input_locations%}

    <p>Delete Country: To delete this country record, please delete all locations. </p>

{% else %}

<form action="/countries/{{input_country.id}}/delete" method="post">
    <label for="delete">Delete Country:</label>
    <input class="button" id="delete" type="submit" value="Delete" >
</form>

{% endif %}

{% endblock %}