{% extends 'base.jinja'%}

{% block content %}
<h1>{{input_country.name}}</h1>

<p>Here are the locations in {{input_country.name}}:</p>

{% for location in input_locations %}

    <p> <a href="/locations/{{location.id}}">{{ location.name }}</a> </p>

{% endfor %}

<form action="/countries/{{input_country.id}}/edit" method="get">
    <label for="edit">Edit Country:</label>
    <input type="submit" id="edit" value="Edit" >
</form>

{# CAN ONLY DELETE IF NO LOCATIONS EXIST #}
{%if input_locations%}

    <p>To delete this country record, please delete all locations. </p>

{% else %}

<form action="/countries/{{input_country.id}}/delete" method="post">
    <label for="delete">Delete Country:</label>
    <input id="delete" type="submit" value="Delete" >
</form>

{% endif %}

{% endblock %}