{% extends 'base.jinja'%}

{% block content %}
<h1>{{input_country.name}}</h1>

<aside><span class="wiki_span">W</span> <a class="black_anchor" href="https://en.wikipedia.org/wiki/{{input_country.name}}" target="_blank" title="Learn more about {{input_country.name}} at Wikipedia">Learn more at Wikipedia</a></aside>
<br>
<aside><span class="map_span">G</span> <a class="black_anchor" href="https://www.google.com/maps/place/{{input_country.name}}/" target="_blank"> Discover on map</a></aside>

<h2>Locations:</h2>

<div class="country_locations_flex_box">

    <div class="location_box">
        <div class="overlay"></div>
        <h3>{{input_country.name}} at a glance</h3>
        <p>Locations visited: </p> 
        <p>{{trip_data.locations_visited}} of {{trip_data.total_locations}} ({{trip_data.percentage_visited}}%)</p>
        <p>Total trips: {{trip_data.trip_total}}</p>
        <p>Days spent: {{trip_data.days_travelled}}</p>
    </div>

    {% for location in input_locations %}

        <div class="location_box" style="background-position: {{location.rand_bg_pos_x}}% {{location.rand_bg_pos_y}}%";>
            <div class="overlay"></div>

            <p><a class="wiki_anchor" href="https://en.wikipedia.org/wiki/{{location.name}},_{{input_country.name}}" target="_blank" title="Learn more about {{location.name}} at Wikipedia">W</a> </p>
            
            <form class="delete_button" id="delete-form-{{location.id}}" action="/locations/{{location.id}}/delete" method="POST">
                <input class="button" id="delete-button-{{location.id}}" type="button" value="x" />
            </form>

            <h3> <a class="white_anchor" href="/locations/{{location.id}}">{{ location.name }}</a></h3>

            <div class="visit_wishlist_flex_box">
                
                <aside class="visited"> 
                    <p>Visited?</p>
                    {% if location.has_visited == True%}
                        <p class="tick"> &#x2713 </p>
                    {% else %}
                        <p class="cross"> &#x2718 </p>
                    {% endif %}
                </aside>

            </div>
        </div>

        <dialog id="delete-dialog-{{location.id}}" class="deleteDialog">
            <p>Are you sure you want to delete this location?</p>
            <p>All associated trip data will be lost!</p>
            <form method="dialog">
                <menu>
                    <input class="button" id="cancel-{{location.id}}" type="submit" value="Cancel" formmethod="dialog">
                    <input class="button" id="confirm-{{location.id}}" type="submit" value="Confirm">
                </menu>
            </form>
        </dialog>

        <script>
            (() => {
                const deleteForm{{location.id}} = document.getElementById("delete-form-{{location.id}}");
                const deleteButton{{location.id}} = document.getElementById("delete-button-{{location.id}}");
                const confirmButton{{location.id}} = document.getElementById("confirm-{{location.id}}");
                const deleteDialog{{location.id}} = document.getElementById("delete-dialog-{{location.id}}");

                // delete button opens the delete dialog
                deleteButton{{location.id}}.addEventListener("click", () => {
                deleteDialog{{location.id}}.showModal();
                });

                //confirm button submits the delete form
                confirmButton{{location.id}}.addEventListener("click", () => {
                deleteForm{{location.id}}.submit();
                });

            })();
        </script>

    {% endfor %}

    <div class="location_box">
        <div class="overlay"></div>
        <h3>Add location</h3>

        <form class="add_location_form" action="/countries/{{input_country.id}}/add_location" method="post">
            <label for="name">Name:
                <input type="text" placeholder="Insert name" name="name" id="name" required>
            </label>
            <select name="country_id" id="country-select" style="display:none">
                <option value="{{input_country.id}}">{{input_country.name}}</option>
            </select>
            <input class="button" type="submit" value="Add" >
        </form>
    </div>

</div>

<hr>

<dialog id="editDialog">
    <form action="/countries/{{input_country.id}}/edit" method="post">
        <label for="name">Edit name:</label>
        <input type="text" value="{{input_country.name}}" name="name" id="name">
        <input class="button" type="submit" value="Cancel" formmethod="dialog">
        <input class="button" type="submit" value="Submit" >
    </form>
</dialog>

<form>
    <label for="editButton">Edit name:</label>
  <input class="button" type="button" id="editButton" value="Edit">
</form>


<form action="/countries/{{input_country.id}}/delete" method="post" id="deleteForm">
    <label for="deleteButton">Delete Country:</label>
    <input class="button" id="deleteButton" type="button" value="Delete" >
</form>


<dialog id="deleteDialog" class="deleteDialog">
    <p>Are you sure you want to delete this country?</p>
    <p>All associated locations and trip data will also be deleted!</p>
    <form method="dialog">
        <menu>
            <input class="button" id="cancel" type="submit" value="Cancel" formmethod="dialog">
            <input class="button" id="confirm" type="submit" value="Confirm">
        </menu>
    </form>
</dialog>

<script src="../../static/js/delete_edit_script.js"></script>

{% endblock %}