{% extends 'base.jinja'%}

{% block content %}
<h1>{{input_country.name}}</h1>

<aside><span class="wiki_span">W</span> <a class="black_anchor" href="https://en.wikipedia.org/wiki/{{input_country.name}}" target="_blank" title="Learn more about {{input_country.name}} at Wikipedia">Learn more at Wikipedia</a> </aside>

<h2>Locations:</h2>

<div class="country_locations_flex_box">

    <div class="location_box">
        <div class="overlay"></div>
        <h3>{{input_country.name}} at a glance</h3>
        <p>Locations visited: </p> 
        <p>{{trip_data.locations_visited}} of {{trip_data.total_locations}} ({{trip_data.percentage_visited}}%)</p>
        <p>Total trips: {{trip_data.trip_total}}</p>
        <p>Days spent: {{trip_data.days_travelled}}</p>
    </div>

    {% for location in input_locations %}

        <div class="location_box" style="background-position: {{location.rand_bg_pos_x}}% {{location.rand_bg_pos_y}}%";>
            <div class="overlay"></div>

            <p><a class="wiki_anchor" href="https://en.wikipedia.org/wiki/{{location.name}},_{{input_country.name}}" target="_blank" title="Learn more about {{location.name}} at Wikipedia">W</a> </p>
            
            <form class="delete_button" id="delete-button-{{location.id}}" action="/locations/{{location.id}}/delete" method="POST"> 
                <input class="button" type="submit" value="x" />
            </form>

            <h3> <a class="white_anchor" href="/locations/{{location.id}}">{{ location.name }}</a></h3>

            <div class="visit_wishlist_flex_box">
                
                <aside class="visited"> 
                    <p>Visited?</p>
                    {% if location['has_visited'] == True%}
                        <p class="tick"> &#x2713 </p>
                    {% else %}
                        <p class="cross"> &#x2718 </p>
                    {% endif %}
                </aside>

            </div>
        </div>

    {% endfor %}

    <div class="location_box">
        <div class="overlay"></div>
        <h3>Add location</h3>

        <form class="add_location_form" action="/countries/{{input_country.id}}/add_location" method="post">
            <label for="name">Name:
                <input type="text" placeholder="Insert name" name="name" id="name" required>
            </label>
            <select name="country_id" id="country-select" style="display:none">
                <option value="{{input_country.id}}">{{input_country.name}}</option>
            </select>
            <input class="button" type="submit" value="Add" >
        </form>
    </div>

</div>

<hr>

<form action="/countries/{{input_country.id}}/edit" method="get">
    <label for="edit">Edit Country:</label>
    <input class="button" type="submit" id="edit" value="Edit" >
</form>


<form action="/countries/{{input_country.id}}/delete" method="post" id="deleteForm">
    <label for="delete">Delete Country:</label>
    <input class="button" id="deleteButton" type="button" value="Delete" >
</form>


<dialog id="deleteDialog" class="deleteDialog">
    <p>Are you sure you want to delete this record?</p>
    <p>All locations and associated trip data will be lost!</p>
    <form method="dialog">
        <menu>
            <input class="button" id="cancel" type="reset" value="Cancel">
            <input class="button" id="confirm" type="submit" value="Confirm">
        </menu>
    </form>
</dialog>

<script>
  (() => {
    const deleteButton = document.getElementById("deleteButton");
    const cancelButton = document.getElementById("cancel");
    const confirmButton = document.getElementById("confirm");
    const deleteForm = document.getElementById("deleteForm")
    const dialog = document.getElementById("deleteDialog");

    // delete button opens the dialog
    deleteButton.addEventListener("click", () => {
      dialog.showModal();
    });

    // Form cancel button closes the dialog box
    cancelButton.addEventListener("click", () => {
      dialog.close();
    });

    //confirm button submits the delete form
    confirmButton.addEventListener("click", () => {
      deleteForm.submit();
    });

  })();
</script>

{% endblock %}