{% extends 'base.jinja'%}

{% block content %}
<h1>Record Your Trip</h1>

<form action="/holidays/add" method="post">

    <select name="location_id" id="location-select">
        
        <option value="">--Where was the gravel?--</option>
        
        {% for location in input_locations%}
        <option value="{{location.id}}">{{location.name}}</option>
        {% endfor %}
    
    </select>

    <input type="date" name="date">
    
    <input type="submit" value="Add" >
</form>

{% endblock %}