{% extends 'base.jinja'%}

{% block content %}
<h1>Wishlist</h1>

<div class="wishlist_flex_box">

    {% for wish_location in wishlist %}

        <div class="wishlist_box">
        <div class="wishlist_box_overlay"></div>
            <p> <a class="white_anchor" href="/locations/{{wish_location.id}}"> {{ wish_location.name }}</a>, <a class="white_anchor" href="/countries/{{wish_location.country.id}}">{{wish_location.country.name}} </a> </p>

            <p><a class="white_anchor" href="https://www.google.com/maps/place/{{wish_location.name}},+{{wish_location.country.name}}/" target="_blank">Click me for Google Map</a></p>
            {# <form action="/wishlist/{{ wish_location.id }}/delete" method="POST">
                <input class="button" type="button" value="remove from wishlist" />
            </form> #}
        </div>

    {% endfor %}

</div>

<aside>
    <h2>So much gravel, so little time...</h2>
</aside>
{% endblock %}