{% extends 'base.jinja'%}

{% block content %}
<h1>Wishlist</h1>

<p>Here are your destinations you want to visit:</p>

{% for wish_location in wishlist %}

<p> {{ wish_location.name }}, {{wish_location.country.name}} </p>

<form action="/wishlist/{{ wish_location.id }}/delete" method="POST">
        <input type="submit" value="delete" />
      </form>

{% endfor %}

{% endblock %}