{% extends 'base.jinja'%}

{% block content %}
<h1>Wishlist</h1>
<h2>{{total_locations}} stoney {{'spots' if total_locations > 1 else 'spot'}} still to see</h2>

<div class="wishlist_flex_box">

    {% for location in wishlist %}

        <div class="wishlist_box" style="background-position: {{location.rand_bg_pos_x}}% {{location.rand_bg_pos_y}}%">
            <div class="wishlist_box_overlay"></div>
            <div class="box-content">
                <aside class="flag">{{location.flag}}</aside>
                <h3> <a class="white_anchor" href="/locations/{{location.id}}">{{ location.name }}</a>, <span class="country_span"><a class="white_anchor" href="/countries/{{location.country.id}}">{{location.country.name}} </a></span></h3>
            </div>
        </div>

    {% endfor %}

        <div class="wishlist_box" style="background-position: 50% 20%">
            <div class="wishlist_box_overlay"></div>
            <div class="box-content">
                <h3>So much gravel, so little time...</h3>
            </div>
        </div>

</div>

{% endblock %}