<!DOCTYPE html>
<html lang="en">
<head>
<title>Gravel Travel</title>
  <link rel="icon" href="../static/images/rock-icon.png">  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geologica&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <div class="header_flex_box">
    <div class="header_overlay"></div>
    <a class="white_anchor" href="/">Gravel Travel</a>
    <a class="white_anchor" href="/countries">Countries</a>
    <a class="white_anchor" href="/locations">Locations</a>
    <a class="white_anchor" href="/trips">Trips</a>
    <a class="white_anchor" href="/wishlist">Wishlist</a>
  </div>
  <p><i>Rockin' all over the World!</i></p>
</header>

<main>
{% block content %}

{% endblock %}
</main>
    
</body>
</html>