{% extends 'base.jinja'%}

{% block content %}
    <div class="home">
        <h1>Gravel Travel</h1>

        <h2>Let's get ready to rubble!</h2>

        <p>Log your pebble adventures. Keep track of the earth's finest gravel destinations.</p>

        <div class="homepage_image">
            <h3><i>A stone in the hand is worth two in the quarry.</i></h3>
            <img src="../static/images/gravel-at-your-fingertips.jpg" alt="A handful of magnificent gravel slipping out of a person's grasp." class="gravel_img">
        </div>

    </div>
{% endblock %}