{% extends 'base.jinja'%}

{% block content %}
    <div class="home">
        <h1>Gravel Travel</h1>

        <h2>The World's #1 app for gravel based travel tracking <span class="asterisk">*</span></h2>

        <p>Log your pebble adventures and keep track of the world's finest gravel.</p>

        <div class="homepage_image">
            <h3>A rock in the hand is worth two in the quarry</h3>
            <img src="../static/images/gravel-at-your-fingertips.jpg" alt="A handful of magnificent gravel slipping out of a person's hand." class="gravel_img">
        </div>

        <p><span class="asterisk">*</span>Disclaimer - may not be factually accurate</p>
    </div>
{% endblock %}