{% extends 'base.jinja'%}

{% block content %}
    <div class="home">
        <h1>Gravel Travel</h1>

        <h2>The World's #1 app for gravel based travel tracking <span class="asterisk">*</span></h2>

        <img src="../static/images/gravel-at-your-fingertips.jpg" alt="A handful of magnificent gravel slipping out of a person's hand." class="gravel_img">

        <p><span class="asterisk">*</span>Disclaimer - not fact checked</p>
    </div>
{% endblock %}