{% extends 'base.jinja'%}

{% block content %}
<h1>Add a new location</h1>

<form action="/locations/add" method="post">
<label for="name">Location name:</label>
    <input type="text" value="Insert name" name="name" id="name">



    <select name="country_id" id="country-select" required>
    <option value="">--Please choose a country--</option>
    {% for country in input_countries%}
    <option value="{{country.id}}">{{country.name}}</option>
    {% endfor %}
    </select>
    
    <input type="submit" value="Add" >
</form>

{% endblock %}