{% extends 'base.jinja'%}

{% block content %}
<h1>Location</h1>

<p>Here are the locations:</p>

{% for location in input_locations %}

<p> <a href="/locations/{{location.id}}">{{ location.name }}</a>, <a href="/countries/{{location.country.id}}">{{location.country.name}}</a> </p>

{% endfor %}

{% endblock %}