{% extends 'base.jinja'%}

{% block content %}
<h1>Locations</h1>
<p> Locations visited: {{visited_locations}} of {{total_locations}} ({{visited_percentage}}%)</p>

<input class="button" id="addButton" value="Add a location" type="button"/>

<div class="location_flex_box">
    {% for location in input_locations %}

    <div class="location_box" style="background-position: {{location.rand_bg_pos_x}}% {{location.rand_bg_pos_y}}%";>
        {% if location.has_visited == True %}
            <div class="overlay"></div>
        {% else %}
            <div class="not_yet_visited_overlay"></div>
        {% endif %}
        <h3> <a class="white_anchor" href="/locations/{{location.id}}">{{ location.name }}</a>, <span class="country_span"><a class="white_anchor" href="/countries/{{location.country.id}}">{{location.country.name}} </a></span></h3>

        <div class="visit_wishlist_flex_box">
            
            <aside class="visited"> 
                <p>Visited?</p>
                {% if location.has_visited == True%}
                    <p class="tick"> &#x2713 </p>
                {% else %}
                    <p class="cross"> &#x2718 </p>
                {% endif %}
            </aside>

        </div>
    </div>

    {% endfor %}

</div>

<dialog class="addDialog" id="addDialog">
    <form action="/locations/add" method="post">
        <label for="name">Location name:</label>
        <input type="text" placeholder="Insert name" name="name" id="name" required>

        <select name="country_id" id="country-select" required>
            <option value="">--Please choose a country--</option>
        
            {% for country in input_countries%}
                <option value="{{country.id}}">{{country.name}}</option>
            {% endfor %}
        
        </select>
        <input class="button" type="submit" value="Cancel" id="addCancel" formmethod="dialog">
        <input class="button" type="submit" value="Add">

    </form>
</dialog>

<script>
(() => {
    const addButton = document.getElementById("addButton");
    const addDialog = document.getElementById("addDialog");
    const addCancel = document.getElementById("addCancel");
        
    // add button opens the add location dialog
    addButton.addEventListener("click", () => {
    addDialog.showModal();
    });

    // cancel button closes the add location dialog
    addCancel.addEventListener("click", () => {
    addDialog.close();
    });

})();
</script>

{% endblock %}