{% extends 'base.jinja'%}

{% block content %}
<h1>{{input_location.name}}</h1>

<p>Here are the locations:</p>

<p> <a href="/locations/{{input_location.id}}">{{ input_location.name }}</a>, <a href="/countries/{{input_location.country.id}}">{{input_location.country.name}}</a> </p>

{% if has_visited == True%}
<p> Visited on:</p>
{% for trip in holidays %}

<p>{{trip[1].day}}/{{trip[1].month}}/{{trip[1].year}}</p>
<p>NEED TO ADD A DELETE BUTTON HERE</p>

{% endfor %}
{% endif %}

{% if on_wishlist == True%}
<p> On your wishlist </p>

<form action="/locations/{{input_location.id}}/toggle_wishlist" method="post">
<label>Remove from wishlist?
    <input type="submit" value="Yes" >
</label>
</form>

{% endif %}
{% if on_wishlist == False and has_visited == False%}
<p> Not on  your wishlist </p>

<form action="/locations/{{input_location.id}}/toggle_wishlist" method="post">
<label>Add to wishlist?
    <input type="submit" value="Yes" >
</label>
</form>

{% endif %}

{% if on_wishlist == False and has_visited == False%}

<form action="/locations/{{input_location.id}}/delete" method="post">
<label for="delete">Delete Location:</label>
    <input id="delete" type="submit" value="Delete" >
</form>

{% else %}

<p>please remove from wishlist and delete any visits to delete location record</p>

{% endif %} 


{% endblock %}