{% extends 'base.jinja'%}

{% block content %}
<h1>{{input_location.name}}</h1>

<p>Here are the locations:</p>


<p> <a href="/locations/{{input_location.id}}">{{ input_location.name }}</a>, <a href="/countries/{{input_location.country.id}}">{{input_location.country.name}}</a> </p>

{% if has_visited == True%}
{# CHANGE THIS TO BE A TOGGLE-ABLE ELEMENT #}
<p> BEEN THERE!! </p>
{% endif %}

{% if on_wishlist == True%}
{# CHANGE THIS TO BE A TOGGLE-ABLE ELEMENT #}
<p> WANT TO GO!! </p>
{% endif %}

{# ADD DELETE FUNCTIONALITY #}
<form action="/locations/{{input_location.id}}/delete" method="post">
<label for="delete">Delete Location:</label>
    <input id="delete" type="submit" value="Delete" >
</form>

{# ADD EDIT FUNCTIONALITY #}

{% endblock %}