{% extends 'base.jinja'%}

{% block content %}
<h1>Record Your Trip</h1>

<form action="/trips/add" method="post">

    <select name="location_id" id="location-select">
        
        <option value="">--Where was the gravel?--</option>
        
        {% for location in input_locations%}
        <option value="{{location.id}}">{{location.name}}, {{location.country.name}}</option>
        {% endfor %}
    
    </select>

    <label for="date">Arrival date:</label>
    <input type="date" name="date" id="date">

    <label for="length">Length of trip:</label>
    <input type="number" name="length" id="length" min="1">
    
    <input type="submit" value="Add" class="button">
</form>

{% endblock %}