{% extends 'base.jinja'%}

{% block content %}
<h1>EDIT TRIP - {{location.name}}</h1>

        <p>{{trip.date.day}} {{trip.date.month}} {{trip.date.year}}</p>
        <p>{{trip.length}} {{'days' if trip.length>1 else 'day'}} </p>

<form class="edit_trip_form" action="/locations/{{location.id}}/trips/{{trip.id}}/edit" method="post">
    {# <select name="location_id" id="location-select" style="display: none;">
        <option value="{{input_location.id}}">{{input_location.name}}, {{input_location.country.name}}</option>   
    </select> #}


    <label for="date">Arrival date:</label>
    <input type="date" name="date" id="date" value={{trip.date}} required>

    <label for="length">Length of trip (days):</label>
    <input type="number" name="length" id="length" min="1" value={{trip.length}} required>
    
    <input type="submit" value="Submit" class="button">
</form>

{% endblock %}