{% extends 'base.jinja'%}

{% block content %}
<div class="heading_flex">
    <h1>Trips</h1>

    <input class="button" id="addButton" value="Add a trip" type="button"/>
</div>

<h2> {{trips_taken}} trips taken totalling {{days_travelled}} days spent in {{locations_visited}} locations across {{countries_visited}} different countries.</h2>

<div class="trip_flex_box">
    <div class="timeline"></div>
    {% for trip in input_trips %}
    <div 
        {% if input_trips.index(trip)%2 %} class="trip_box_left"
        {%else%} class="trip_box_right" 
        {%endif%} 
        style="background-position: {{trip.rand_bg_pos_x}}% {{trip.rand_bg_pos_y}}%"
    >
        <div class="overlay"></div>

        <div class="box-content">

            {% if trip.start_month == trip.end_month and trip.start_date.year == trip.end_date.year%} 
                <h3>{{trip.start_date.day if trip.length > 1 else ''}} {{'to' if trip.length > 1 else '' }} {{trip.end_date.day}} {{trip.end_month}} {{trip.end_date.year}}</h3>
            {%elif trip.start_month != trip.end_month and trip.start_date.year == trip.end_date.year%}
                <h3>{{trip.start_date.day}} {{trip.start_month}} to <br> {{trip.end_date.day}} {{trip.end_month}} {{trip.end_date.year}}</h3>
            {%else%}
                <h3>{{trip.start_date.day}} {{trip.start_month}} {{trip.start_date.year}} to <br> {{trip.end_date.day}} {{trip.end_month}} {{trip.end_date.year}}</h3>
            {% endif %}
            
            <p> 
                {%if trip.random_int == 5 %} You gawked at the rocks in 
                {%elif trip.random_int == 4 %} You stared at the stones in
                {%elif trip.random_int == 3 %} You revelled in the pebbles in
                {%elif trip.random_int == 2 %} You marvelled at the gravel in
                {%else%} You mingled with the shingle in
                {%endif%}
            </p>
            <p> <a class="white_anchor" href="/locations/{{trip.location.id}}"> {{ trip.location.name }}</a>, <a class="white_anchor" href="/countries/{{trip.location.country.id}}">{{trip.location.country.name}} </a> </p>

            <p> for {{trip.length}} {{ 'days' if trip.length > 1 else 'day' }}</p>

            <form class="button" id="delete-form-{{trip.id}}" action="/trips/{{trip.id}}/delete" method="POST">
                <input class="button" id="delete-button-{{trip.id}}" type="button" value="Delete your gravel memory" />
            </form>
        </div>
    </div>

    <dialog id="delete-dialog-{{trip.id}}" class="deleteDialog">
        <div class="dialog_overlay"></div>
        <div class="dialog-content">
            <p>Are you sure you want to delete this trip?</p>
            <form method="dialog">
                <input class="button" id="cancel-{{trip.id}}" type="submit" value="Cancel" formmethod="dialog">
                <input class="button" id="confirm-{{trip.id}}" type="submit" value="Confirm">
            </form>
        </div>
    </dialog>

    <script>
        (() => {
            const deleteForm{{trip.id}} = document.getElementById("delete-form-{{trip.id}}");
            const deleteButton{{trip.id}} = document.getElementById("delete-button-{{trip.id}}");
            const confirmButton{{trip.id}} = document.getElementById("confirm-{{trip.id}}");
            const deleteDialog{{trip.id}} = document.getElementById("delete-dialog-{{trip.id}}");

            // delete button opens the delete dialog
            deleteButton{{trip.id}}.addEventListener("click", () => {
            deleteDialog{{trip.id}}.showModal();
            });

            //confirm button submits the delete form
            confirmButton{{trip.id}}.addEventListener("click", () => {
            deleteForm{{trip.id}}.submit();
            });

        })();
    </script>
    {% endfor %}


    <dialog class="addDialog" id="addDialog">

        <form action="/trips/add" method="post">

            <select name="location_id" id="location-select">
                
                <option value="">-- Where was the gravel? --</option>

                {% for location in input_locations%}
                    <option value="{{location.id}}">{{location.name}}, {{location.country.name}}</option>
                {% endfor %}
            
            </select>

            <label for="date">Arrival date:</label>
            <input type="date" name="date" id="date" required>

            <label for="length">Length of trip:</label>
            <input type="number" name="length" id="length" min="1" required>
            <input class="button" type="submit" value="Cancel" id="addCancel" formmethod="dialog">
            <input type="submit" value="Add" class="button">
        </form>
    
    </dialog>

    <script src="../static/js/add_button_script.js"></script>

</div>

{% endblock %}